input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  max-width: 100vw;
  height: 100%;
  margin: 0 auto;
  width: auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  height: 92vh;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  background-color: #282c34;
  display: block;
  height: 8vh;
}

.task__block {
  padding: 10px 30px;
}

.task__title {
  font-size: 25px;
  margin-bottom: 5px;
}

.task__text {
  /* max-width: 50%; */
}

.settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100%;
  padding: 0px 30px;
}

.settings__left {
  display: flex;
  gap: 10px;
}

.run__btn {
  padding: 5px;
  border: 1px solid #dbdbdb;
  font-size: 1.5rem;
  color: #dbdbdb;
  transition: all 0.3s ease;
}

.run__btn:hover {
  background-color: #4a4a4a;
  color: #dbdbdb;
}

.run__btn:active {
  transform: scale(80%);
}

.select__language {
  background-color: #4a4a4a;
  max-width: 100%;
  border: 2px;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #dbdbdb;
  font-size: 1rem;
  color: #dbdbdb;
  cursor: pointer;
}

.change__font__ammount {
  display: flex;
  align-items: center;
}

.font__ammount {
  border: 1px solid #dbdbdb;
  padding: 5px;
  width: 40px;
  border-radius: 2px;
  font-size: 1rem;
  color: #dbdbdb;
  text-align: center;
}

.control {
  padding: 5px 10px;
  cursor: pointer;
  color: #dbdbdb;
  /* border: 1px solid #dbdbdb; */
}

.result__block {
  background-color: #dbdbdb;
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100vw;
  flex: 1 2;
  padding: 10px 30px;
}

.result__title {
  font-size: 40px;
}

.result__status {
  font-size: 30px;
  margin-bottom: 10px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.result__output {
  white-space: pre-line;
}
